@page "/admin/progresses/delete"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Progress</h2>
    <hr />
    @if (progress is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ProgressPer</dt>
            <dd class="col-sm-10">@progress.ProgressPer</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsCompleted</dt>
            <dd class="col-sm-10">@progress.IsCompleted</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CompletedDate</dt>
            <dd class="col-sm-10">@progress.CompletedDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LessonId</dt>
            <dd class="col-sm-10">@progress.LessonId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UserId</dt>
            <dd class="col-sm-10">@progress.UserId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@progress.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@progress.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@progress.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@progress.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="progress" OnValidSubmit="DeleteProgress" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(progress is null)">Delete</button> |
            <a href="/admin/progresses">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Progress? progress;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        progress = await httpClient.GetFromJsonAsync<Progress>($"api/progresses/{Id}");
    }

    private async Task DeleteProgress()
    {
        var response = await httpClient.DeleteAsync($"api/progresses/{progress.Id}");

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/admin/progresses");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            NavigationManager.NavigateTo("notfound");
        }
        else
        {
            // Handle other errors (optional)
            var errorMessage = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"Error deleting progress: {errorMessage}");
        }
    }
}
