@page "/admin/quizzes/delete"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject NavigationManager NavigationManager
@inject HttpClient httpClient

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Quiz</h2>
    <hr />
    @if (quiz is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@quiz.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsCompleted</dt>
            <dd class="col-sm-10">@quiz.IsCompleted</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">LessonId</dt>
            <dd class="col-sm-10">@quiz.LessonId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@quiz.DateCreated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@quiz.DateUpdated</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@quiz.CreatedBy</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@quiz.UpdatedBy</dd>
        </dl>
        <EditForm method="post" Model="quiz" OnValidSubmit="DeleteQuiz" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(quiz is null)">Delete</button> |
            <a href="/admin/quizzes">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Quiz? quiz;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        quiz = await httpClient.GetFromJsonAsync<Quiz>($"api/quizzes/{Id}");
    }

    private async Task DeleteQuiz()
    {
        var response = await httpClient.DeleteAsync($"api/quizzes/{quiz.Id}");

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/admin/quizzes");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.NotFound)
        {
            NavigationManager.NavigateTo("notfound");
        }
        else
        {
            // Handle other errors (optional)
            var errorMessage = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"Error deleting quiz: {errorMessage}");
        }
    }
}
