@page "/admin/dashboard"
@inject LanguageLearningContext DbContext
@using LanguageLearning.Data
@using LanguageLearning.Domain
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore

<div class="d-flex align-content-center justify-content-center flex-column gap-5 w-100">
    <h1 style="color: #845007;" class="text-center">DashBoard</h1>
    
    <div class="d-flex align-content-center justify-content-around flex-row">
        <div style="width:350px; height:175px; background-color: rgba(132, 80, 7, 0.5) "
             class="rounded-3 d-flex align-content-center justify-content-around flex-row text-white">
             <div class="align-content-center">
                <h5>Total Languages</h5>
                <h1 class="fw-bold">@languages.Count</h1>
            </div>
            <div class="align-content-center">
                <i style="font-size: 70px;" class="bi bi-database"></i>
            </div>

        </div>
        <div style="width:350px; height:175px; background-color: rgba(132, 80, 7, 0.5) "
             class="rounded-3 d-flex align-content-center justify-content-around flex-row text-white">
            <div class="align-content-center">
                <h5>Total Users</h5>
                <h1 class="fw-bold">@users.Count</h1>
            </div>
            <div class="align-content-center">
                <i style="font-size: 70px;" class="bi bi-person"></i>
            </div>

        </div>
        <div style="width:350px; height:175px; background-color: rgba(132, 80, 7, 0.5) "
             class="rounded-3 d-flex align-content-center justify-content-around flex-row text-white">
            <div class="align-content-center">
                <h5>Total Earnings</h5>
                <h1 class="fw-bold">@payments.Sum(payments => payments.Amount)</h1>
            </div>
            <div class="align-content-center">
                <i style="font-size: 70px;" class="bi bi-currency-dollar"></i>
            </div>

        </div>

    </div>
    <table class="table table-borderless ">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Id</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Id</td>
                    <td>@GetUserRoles(user.Id)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<LanguageLearningUser> users = new();
    private List<Language> languages = new();
    private List<Payment> payments = new();
    private List<IdentityUserRole<string>> userroles = new();
    private List<IdentityRole> roles = new();

    protected override async Task OnInitializedAsync()
    {
        users = await DbContext.Users.ToListAsync(); // Users is DbSet<LanguageLearningUser>
        languages = await DbContext.Language.ToListAsync();
        payments = await DbContext.Payment.ToListAsync();
        userroles = await DbContext.UserRoles.ToListAsync();
        roles = await DbContext.Roles.ToListAsync();
    }
    private string GetUserRoles(string userId)
    {
        var roleIds = userroles.Where(ur => ur.UserId == userId).Select(ur => ur.RoleId);
        var roleNames = roles.Where(r => roleIds.Contains(r.Id)).Select(r => r.Name);
        return string.Join(", ", roleNames);
    }
}
