@page "/admin/lessons/details"
@using Microsoft.EntityFrameworkCore
@using LanguageLearning.Domain
@inject IDbContextFactory<LanguageLearning.Data.LanguageLearningContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Lesson</h2>
    <hr />
    @if (lesson is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@lesson.Title</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@lesson.Description</dd>
            <dt class="col-sm-2">DifficultyLvl</dt>
            <dd class="col-sm-10">@lesson.DifficultyLvl</dd>
            <dt class="col-sm-2">LanguageId</dt>
            <dd class="col-sm-10">@lesson.LanguageId</dd>
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@lesson.DateCreated</dd>
            <dt class="col-sm-2">DateUpdated</dt>
            <dd class="col-sm-10">@lesson.DateUpdated</dd>
            <dt class="col-sm-2">CreatedBy</dt>
            <dd class="col-sm-10">@lesson.CreatedBy</dd>
            <dt class="col-sm-2">UpdatedBy</dt>
            <dd class="col-sm-10">@lesson.UpdatedBy</dd>
        </dl>
        <div>
            <a href="@($"/lessons/edit?id={lesson.Id}")">Edit</a> |
            <a href="@($"/lessons")">Back to List</a>
        </div>
    }
</div>

@code {
    private Lesson? lesson;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        lesson = await context.Lesson.FirstOrDefaultAsync(m => m.Id == Id);

        if (lesson is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
