@page "/language"
@using LanguageLearning.Components.Layout
@using LanguageLearning.Domain
@rendermode InteractiveServer
@layout UserLayout
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization

@if (Language is null)
{
    <p>Loading...</p>
}
else{<div class="lp-page w-100">
    <div class="lp-header">
         <AuthorizeView>
            <h1>Hi there, @context.User.Identity?.Name</h1>
        </AuthorizeView>
    </div>

    <div style="color:#845007" class=" w-100">
        <section class="lp-card lp-left w-100">
            <div class="lp-unit">
                <h1>@Language.Name</h1>
            </div>
                @for (int i = 0; i < FilteredLessons.Count; i++)
                {
                    var lesson = FilteredLessons[i];
                    var isLocked = i > 0 && (!IsAdmin && !IsPremium);

                    <div class="lesson-row">
                        <div class="lesson-left">
                            <h1 class="lesson-title">
                                @lesson.Title
                                
                            </h1>
                            <h2 class="lesson-name">@lesson.Description
                                @if (isLocked)
                                {
                                    <span style="margin-left: 10px; color:red;"><i class="bi bi-lock-fill fs-3"></i></span>
                                }
                            </h2>
                        </div>
                        
                        @if (!isLocked)
                        {
                            <a class="btn start-btn">
                                Start lesson
                            </a>
                        }
                        else
                        {
                            <AuthorizeView>
                                <a href="/subscribe" class="btn purchase-btn">
                                    Purchase Memberships
                                </a>
                            </AuthorizeView>
                        }
                        
                    </div>
                    <div class="divider"></div>
                }

       

                @* @foreach(var lesson in FilteredLessons)
                {
                    <div class="lesson-row">
                        <div class="lesson-left">
                            <h1 class="lesson-title">@lesson.Title</h1>
                            <h2 class="lesson-name">@lesson.Description</h2>

                        </div>

                        <button class="start-btn">Start lesson</button>
                    </div>
                    <div class= "divider" ></div>
                } *@

        </section>

    </div>

</div>
}
@code{
    private Language? Language;

    private List<Lesson> Lessons;

    private bool IsAdmin = false;
    private bool IsPremium = false;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    List<Lesson> FilteredLessons => Lessons?.Where(l => l.LanguageId == Id).ToList() ?? new List<Lesson>();

    protected override async Task OnInitializedAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        IsAdmin = user.IsInRole("Administrator");
        IsPremium = user.IsInRole("Premium");

        // Only load from API if Language is not already bound from form
        if (Language is null)
        {
            Language = await httpClient.GetFromJsonAsync<Language>($"api/languages/{Id}");

            if (Language is null)
            {
                NavigationManager.NavigateTo("notfound");
            }
        }
        Lessons = await httpClient.GetFromJsonAsync<List<Lesson>>($"api/lessons") ?? new List<Lesson>();
    }
}

       
                