@page "/language/{languageId:int}/unit/{lessonId:int}"
@using LanguageLearning.Components.Layout
@using LanguageLearning.Domain
@rendermode InteractiveServer
@layout UserLayout
@inject HttpClient httpClient

<link href="Manage.css" rel="stylesheet" />

<div style="height:800px;" class="w-100 border border-3 d-flex align-content-center justify-content-start rounded-3">
        <button type="button" class="btn" @onclick="PreviousCards"><i class="bi bi-arrow-left fs-3"></i></button>
    @if (FilteredLessonContents.Any())
    {
        <div class="d-flex flex-column justify-content-around align-items-center w-100 gap-3 py-3">
            <h1 style="color: #845007" class="fw-bold fs-1">
                @FilteredLessonContents[currentIndex].ContentType[..^4]
                </h1>
            <img src="@FilteredLessonContents[currentIndex].ContentType" class="w-50 h-50" />
            <h3 style="color: #845007" class="fw-bold fs-3" >@FilteredLessonContents[currentIndex].ContentText </h3>
        </div>
    }   
        <button type="button" class="btn" @onclick="NextCards"><i class="bi bi-arrow-right fs-3"></i></button>
</div>
<AuthorizeView>
    <a href="@($"/language/{LanguageId}/quiz/{LessonId}")" class="btn log-btn mt-5 fs-4 fw-bold">
        Start Quiz
    </a>
</AuthorizeView>
<a style="background-color: #FF6961" class="btn submit-btn mt-5" href="@($"/language?id={LanguageId}")">Go Back</a>


@code{
    [Parameter]
    public int LanguageId { get; set; }

    [Parameter]
    public int LessonId { get; set; }

    List<LessonContent> LessonContents = new List<LessonContent>();
    private int currentIndex = 0;

    List<LessonContent> FilteredLessonContents => LessonContents?.Where(l => l.LessonId == LessonId).ToList() ?? new List<LessonContent>();

    
    protected override async Task OnInitializedAsync()
    {
        LessonContents = await httpClient.GetFromJsonAsync<List<LessonContent>>("api/lessoncontents") ?? new List<LessonContent>();
 
    }
    
    private void NextCards()
    {
        currentIndex = (currentIndex + 1) % FilteredLessonContents.Count;
    }
    private void PreviousCards()
    {
        currentIndex = (currentIndex - 1 + FilteredLessonContents.Count) % FilteredLessonContents.Count;
    }
    
} 